<button pButton type="button" label="My Orders" (click)="goToMyOrders()"></button>

<button pButton type="button" label="Sign Out" (click)="logout()"></button>

<div id="partnerDetailsBlockId" style="margin-right: 24%;margin-left: 24%;">
  <div style="display: inline-block;float: left;">
    <img id="partnerAccountImageId" [src]="safeImage(partner.imgpath)"
         style="width: 250px; height: 250px; margin-right: 5px"/>
    <label class="custom-file-upload">
      <input name="file" type="file" ng2FileSelect [uploader]="accountImageUploader"/>
      <i class="fa fa-plus"></i>
    </label>
  </div>
  <div>


  </div>
  <div>
    <p for="usernameId" class="bold-label">Username:</p>
    <p id="usernameId">{{partner.username}}</p>
    <p class="bold-label">First Name:</p>
    <p>{{partner.name}}</p>
    <div class="ui-grid-col-3">
    <p class="bold-label">Telephone:</p>
    <input type="text" pInputText *ngIf="_isEditingPartnerMainDetails" id="partnerNameId"
           [(ngModel)]="_editedPartner.telephone" field="_editedPartner.telephone"/>
    <div class="validation-error-block" *ngIf="_isWrongTelephone">Telephone number is required.</div>
      <p *ngIf="!_isEditingPartnerMainDetails">{{partner.telephone}}</p>
    </div>
  </div>
  <div>
    <p class="bold-label">Service:</p>
    <p>{{partner.serviceName}}</p>
    <p class="bold-label">Address:</p>
    <p>{{partner.address}}</p>
  </div>

  <div>
    <button pButton type="button" label="Edit my Details" (click)="editPartnerMainInfo()"
            *ngIf="!_isEditingPartnerMainDetails"></button>
    <button pButton type="button" label="Save Details" (click)="saveMainInfo()"
            *ngIf="_isEditingPartnerMainDetails"></button>
    <button pButton type="button" label="Cancel" (click)="cancelEditingMainInfo()"
            *ngIf="_isEditingPartnerMainDetails"></button>
  </div>

  <hr>
  <div>
    <button pButton type="button" label="Feedbacks" (click)="showFeedbacks()"></button>
    <button pButton type="button" label="Photos" (click)="showPhotos()"></button>
    <button pButton type="button" label="Notice" (click)="showNotices()"></button>
    <!--<button pButton type="button" label="Followers" (click)="showFollowers()"></button>
    -->
    <button pButton type="button" label="Address" (click)="showAddress()"></button>
    <button pButton type="button" label="My services" (click)="showServices()"></button>
  </div>
</div>


<p-dialog [(visible)]="showingServices" [responsive]="true" showEffect="fade" [modal]="true"
          (onAfterHide)="hideServices()" [closable]="true">

  <p-dataTable [value]="partner.services" [editable]="true">
    <p-column field="service" header="Service">
      <ng-template let-servicesOfPartner="rowData" pTemplate="body">
        <p-dropdown [options]="serviceSelectItems" *ngIf="servicesOfPartner.isEditing"
                    [(ngModel)]="servicesOfPartner.service" [style]="{'width':'150px'}"></p-dropdown>
        <p *ngIf="!servicesOfPartner.isEditing">{{servicesOfPartner.service?._serviceName_arm}}</p>
      </ng-template>
    </p-column>
    <p-column field="defaultduration" header="Duration">
      <ng-template let-servicesOfPartner="rowData" pTemplate="body">
        <p *ngIf="!servicesOfPartner.isEditing">{{servicesOfPartner.defaultduration}}</p>
        <input type="text" pInputText *ngIf="servicesOfPartner.isEditing"
               [(ngModel)]="servicesOfPartner.defaultduration" field="newSubServiceToPartner.price"/>

      </ng-template>
    </p-column>
    <p-column field="price" header="Price">
      <ng-template let-servicesOfPartner="rowData" pTemplate="body">
        <p *ngIf="!servicesOfPartner.isEditing">{{servicesOfPartner.price}}</p>
        <input type="text" pInputText *ngIf="servicesOfPartner.isEditing"
               [(ngModel)]="servicesOfPartner.price" field="newSubServiceToPartner.price"/>
      </ng-template>
    </p-column>
    <p-column header="Actions">
      <ng-template let-col let-servicesOfPartner="rowData" pTemplate="body">
        <button pButton type="button" label="Delete" *ngIf="!servicesOfPartner.isEditing"
                (click)="deleteInfoOfPartner(servicesOfPartner)"></button>
        <button pButton type="button" label="Edit" *ngIf="!servicesOfPartner.isEditing"
                (click)="editInfoOfPartner(servicesOfPartner)"></button>
        <button pButton type="button" label="Save" *ngIf="servicesOfPartner.isEditing"
                (click)="updatePartnerServiceDetail(servicesOfPartner)"></button>
        <button pButton type="button" label="Cancel" *ngIf="servicesOfPartner.isEditing"
                (click)="cancelInfoOfPartner(servicesOfPartner)"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
  <div class="ui-grid-row">
    <div class="ui-grid-col-3">
      <p-dropdown [options]="serviceSelectItems" [(ngModel)]="newSubServiceToPartner.service"
                  [style]="{'width':'150px'}"></p-dropdown>
      <div class="validation-error-block" *ngIf="isAbsenceService">Service is required.</div>
    </div>
    <div class="ui-grid-col-3">
      <input type="text" pInputText id="defaultdurationId"
             [(ngModel)]="newSubServiceToPartner.defaultduration" field="newSubServiceToPartner.defaultduration"/>
      <div class="validation-error-block" *ngIf="isAbsenceDuration">Please specify motavor duration.</div>
    </div>
    <div class="ui-grid-col-3">
      <input type="text" pInputText id="priceId"
             [(ngModel)]="newSubServiceToPartner.price" field="newSubServiceToPartner.price"/>
    </div>
    <div class="ui-grid-col-3">
      <button pButton type="button" label="Add" (click)="addService()"></button>
    </div>
  </div>
</p-dialog>
<p-dialog [(visible)]="showingFeedbacks" [responsive]="true" showEffect="fade" [modal]="true" width="450"
          (onAfterHide)="hideFeedbacks()" [closable]="true">
  <p-header>
    Feedbacks ({{partner.feedbacks?.length}})
  </p-header>
  <p-dataGrid [value]="partner.feedbacks" [paginator]="true" [rows]="1">
    <ng-template let-feedback pTemplate="item">
      <div  class="ui-grid ui-grid-responsive">
        <rating [ngModel]="feedback.rate"
                [float]="true" [readonly]="true">
        </rating>
        <br/>
        {{feedback.context}}
      </div>
    </ng-template>
  </p-dataGrid>


</p-dialog>
<p-dialog [(visible)]="showingNotices" [responsive]="true" showEffect="fade" [modal]="true" width="450"
          (onAfterHide)="hideNotices()" [closable]="true">
  <div id="partnerNoticesBlockId">
    <div style="display: inline-block;">
      <h2>Notice</h2>
      <button pButton type="button" label="Edit" *ngIf="!_isEditingPartnerNoticeDetails"
              (click)="editNotices()"></button>
      <button pButton type="button" label="Save" *ngIf="_isEditingPartnerNoticeDetails" (click)="saveNotice()"></button>
      <button pButton type="button" label="Cancel" *ngIf="_isEditingPartnerNoticeDetails"
              (click)="cancelNotices()"></button>
    </div>
    <p *ngIf="!_isEditingPartnerNoticeDetails">{{partner.notices}}</p>
    <input *ngIf="_isEditingPartnerNoticeDetails" type="text" pInputText [(ngModel)]="_editedPartner.notices"
           style="height: 50px;width: 150px;"/>
  </div>
</p-dialog>
<p-dialog [(visible)]="showingPhotos" [responsive]="true" showEffect="fade" [modal]="true" width="450"
          (onAfterHide)="hidePhotos()" [closable]="true">
  <div id="partnerPhotosBlockId">
    <h2>Photos({{partner.photoDtos?.length}})</h2>
    <div *ngFor="let image of partner.photoDtos" style="display: inline-block; margin-right: 10px;">
      <i class="fa fa-trash-o" aria-hidden="true" (click)="deletePartnerPhoto(image.id)"></i>
      <img src="{{safeImage(image.image_path)}}"
           style="width: 180px; height: 180px;"/>

    </div>
    <label class="custom-file-upload">
      <input name="file" type="file" ng2FileSelect [uploader]="partnerPhotoUploader"/>
      <i class="fa fa-plus"></i> Upload Photo
    </label>
  </div>
</p-dialog>
<p-dialog [(visible)]="showingFollowers" [responsive]="true" showEffect="fade" [modal]="true"
          (onAfterHide)="hideFollowers()" (onBeforeShow)="resize($event)" [closable]="true">

</p-dialog>
<p-dialog [(visible)]="hasNewRequest" [responsive]="true" showEffect="fade" [modal]="true">
  <div>You have new request | count is: {{newEvents().length}}</div>
  <button pButton type="button" label="OK" (click)="closeNewRequests()"></button>


</p-dialog>

<p-dialog header="Event in during" [visible]="_thereIsNowRequest"
          [closable]="false" [closeOnEscape]="false" [responsive]="true" showEffect="fade"
          [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{'width':'100%','height':'100%'}">
  <p-header style="display:none;">
  </p-header>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="requestNow">
    <div class="ui-grid-row">
      <label>Description:</label>
      {{requestNow.description}}
    </div>
    <div class="ui-grid-row">
      <label>Start:</label>
      {{requestNow.startTime| date: 'MMM dd yy, HH:mm'}}
    </div>
    <div class="ui-grid-row">
      <label>End:</label>{{requestNow.endTime | date: 'MMM dd yy, HH:mm'}}
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button pButton type="button" label="Complete reservation" (click)="completeReservation()"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="showingAddress" [responsive]="true" showEffect="fade" [modal]="true"
          (onAfterHide)="hideAddress()" [closable]="true">

  <div id="partnerAddressBlockId">
    <h2>Address</h2>
    <div id="addessMapBlockId">
      <button pButton type="button" label="Change Address" *ngIf="!needChangeAddress()"
              (click)="changeAddress()"></button>
      <button pButton type="button" *ngIf="needChangeAddress()" label="Save Address"
              (click)="saveAddress()"></button>
      <button pButton type="button" (click)="putMyLocation()" *ngIf="needChangeAddress()" icon="fa-street-view"
              iconPos="left"></button>

      <div id="" class="form-group">
        <input placeholder="Գրիր հասցեդ․․․" autocorrect="off" [(ngModel)]="_editedPartner.address" autocapitalize="off"
               spellcheck="off" type="text" class="form-control" #search [formControl]="mapSearchControl()">
      </div>
      <sebm-google-map id="map" #map style="height:200px !important;" [latitude]="mapLatitude()" [longitude]="mapLongitude()"
                       [scrollwheel]="false"
                       [zoom]="mapZoom()">
        <sebm-google-map-marker (dragEnd)="addressMarkerDragEnd($event)" [markerDraggable]="needChangeAddress()"
                                [latitude]="mapLatitude()" [longitude]="mapLongitude()"></sebm-google-map-marker>
      </sebm-google-map>
    </div>
  </div>
</p-dialog>







