<div class="ui-grid ui-grid-responsive ui-fluid">
  <div class="ui-grid-row soso-partner-header">
    <div class="ui-grid-col-4 soso-partner-properties">
      <p-splitButton label="{{'my_account'| translate}}" [style]="{'width':'45%'}" [model]="userProperties"></p-splitButton>
    </div>
    <div class="ui-grid-col-3 soso-partner-notification">

      <i class="fa fa-bell-o fa-2x soso-icon" aria-hidden="true" (click)="op.toggle($event)"></i>
      <div
        style="height: 8px;width: 8px; border-radius: 10px; background-color: orange;margin-top: -25%;"
        *ngIf="hasNewRequest"></div>
    </div>
    <p-overlayPanel #op [style]="{'width':'100%;'}">
      <div *ngIf="hasNewRequest" (click)="closeNewRequests();goToMyOrders();">
         {{'notificationmessage'|translate}}
      </div>
      <div *ngIf="!hasNewRequest">
        {{'emptynewrequests'|translate}}
      </div>
    </p-overlayPanel>
  </div>
</div>

<div id="partnerDetailsBlockId" class="soso-partner-account">
  <div class="soso-partner-photo" style="display: block">
    <div>
      <img id="partnerAccountImageId" [src]="safeImage(partner.imgpath)"
           style="width: 100px; height: 100px; margin-right: 5px; border-radius: 35%;"/>
    </div>
    <div style="margin-top: -6%;margin-left: 13.5%;width: 9%;">
      <label class="custom-file-upload soso-upload-main-photo-btn">
        <input name="file" type="file" ng2FileSelect [uploader]="accountImageUploader"/>
        <i class="fa fa-plus"></i>
      </label>
    </div>
  </div>
  <hr>
  <div class="soso-partner-details-info">
    <p id="usernameId"><span class="bold-label">Username:</span> {{partner.username}}</p>
    <p><span class="bold-label">{{'name'|translate}}:</span> {{partner.name}}</p>
    <div class="ui-grid-row">
      <p class="bold-label">{{'telephone'| translate}}:</p>
      <p *ngIf="!_isEditingPartnerMainDetails">{{partner.telephone}} <span><i class="fa fa-pencil-square"
                                                                              *ngIf="!_isEditingPartnerMainDetails"
                                                                              aria-hidden="true"
                                                                              (click)="editPartnerMainInfo()"></i></span>
      </p>


      <input type="text" pInputText *ngIf="_isEditingPartnerMainDetails" id="partnerNameId"
             [(ngModel)]="_editedPartner.telephone" field="_editedPartner.telephone"/>
      <i class="fa fa-check-circle" *ngIf="_isEditingPartnerMainDetails" aria-hidden="true"
         (click)="saveMainInfo()"></i>
      <i class="fa fa-times-circle" *ngIf="_isEditingPartnerMainDetails" aria-hidden="true"
         (click)="cancelEditingMainInfo()"></i>
      <div class="validation-error-block" *ngIf="_isWrongTelephone">Telephone number is required.</div>

    </div>
    <p><span class="bold-label">{{'service' |translate}}:</span> {{partner.serviceName}}</p>
    <p><span class="bold-label">{{'address' | translate}}:</span> {{partner.address}} <span><i class="fa fa-pencil-square"
                                                                             aria-hidden="true"
                                                                             (click)="showAddress()"></i></span></p>
  </div>


  <hr>
  <div style="display: block;">
    <button pButton type="button" label="{{'feedbacks' | translate}}" class="soso-partner-property-button"
            (click)="showFeedbacks()"></button>
    <button pButton type="button" label="{{'images' | translate}}" class="soso-partner-property-button" (click)="showPhotos()"></button>
    <button pButton type="button" label="{{'notices' | translate}}" class="soso-partner-property-button" (click)="showNotices()"></button>
    <!--<button pButton type="button" label="Followers" (click)="showFollowers()"></button>
    -->
    <button pButton type="button" label="{{'services' | translate}}" class="soso-partner-property-button"
            (click)="showServices()"></button>
  </div>
</div>


<p-dialog [(visible)]="showingServices" [responsive]="true" showEffect="fade" [modal]="true"
          (onAfterHide)="hideServices()" [closable]="true">

  <p-dataTable [value]="partner.services" [editable]="true">
    <p-column field="service" header="Service">
      <ng-template let-servicesOfPartner="rowData" pTemplate="body">
        <p-dropdown [options]="serviceSelectItems" *ngIf="servicesOfPartner.isEditing"
                    [(ngModel)]="servicesOfPartner.service" [style]="{'width':'150px'}"></p-dropdown>
        <p *ngIf="!servicesOfPartner.isEditing">{{servicesOfPartner.service?._serviceName_arm}}</p>
      </ng-template>
    </p-column>
    <p-column field="defaultduration" header="{{'duration' | translate}}">
      <ng-template let-servicesOfPartner="rowData" pTemplate="body">
        <p *ngIf="!servicesOfPartner.isEditing">{{servicesOfPartner.defaultduration}}</p>
        <input type="text" pInputText *ngIf="servicesOfPartner.isEditing"
               [(ngModel)]="servicesOfPartner.defaultduration" field="newSubServiceToPartner.price"/>

      </ng-template>
    </p-column>
    <p-column field="price" header="{{'price' | translate}}">
      <ng-template let-servicesOfPartner="rowData" pTemplate="body">
        <p *ngIf="!servicesOfPartner.isEditing">{{servicesOfPartner.price}}</p>
        <input type="text" pInputText *ngIf="servicesOfPartner.isEditing"
               [(ngModel)]="servicesOfPartner.price" field="newSubServiceToPartner.price"/>
      </ng-template>
    </p-column>
    <p-column header="Actions">
      <ng-template let-col let-servicesOfPartner="rowData" pTemplate="body">
        <button pButton type="button" label="{{'delete' | translate}}" *ngIf="!servicesOfPartner.isEditing"
                (click)="deleteInfoOfPartner(servicesOfPartner)"></button>
        <button pButton type="button" label="{{'edit' | translate}}" *ngIf="!servicesOfPartner.isEditing"
                (click)="editInfoOfPartner(servicesOfPartner)"></button>
        <button pButton type="button" label="{{'savebtnlabel' | translate}}" *ngIf="servicesOfPartner.isEditing"
                (click)="updatePartnerServiceDetail(servicesOfPartner)"></button>
        <button pButton type="button" label="{{'cancelbtnlabel' | translate}}" *ngIf="servicesOfPartner.isEditing"
                (click)="cancelInfoOfPartner(servicesOfPartner)"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        {{'service' | translate}}<br/>
        <p-dropdown [options]="serviceSelectItems" [(ngModel)]="newSubServiceToPartner.service"
                    [style]="{'width':'150px'}"></p-dropdown>
        <div class="validation-error-block" *ngIf="isAbsenceService">Service is required.</div>
      </div>
      <div class="ui-grid-col-3">
        {{'duration' | translate}}<br/>
        <input type="text" pInputText id="defaultdurationId"
               [(ngModel)]="newSubServiceToPartner.defaultduration" field="newSubServiceToPartner.defaultduration"/>
        <div class="validation-error-block" *ngIf="isAbsenceDuration">Please specify motavor duration.</div>
      </div>
      <div class="ui-grid-col-3">
        {{'price' | translate}}<br/>
        <input type="text" pInputText id="priceId"
               [(ngModel)]="newSubServiceToPartner.price" field="newSubServiceToPartner.price"/>
      </div>
      <div class="ui-grid-col-3">
        <button pButton type="button" label="{{'add' | translate}}" (click)="addService()"></button>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog [(visible)]="showingFeedbacks" [responsive]="true" showEffect="fade" [modal]="true" width="450"
          (onAfterHide)="hideFeedbacks()" [closable]="true">
  <p-header>
    Feedbacks ({{partner.feedbacks?.length}})
  </p-header>
  <p-dataGrid [value]="partner.feedbacks" [paginator]="true" [rows]="1">
    <ng-template let-feedback pTemplate="item">
      <div class="ui-grid ui-grid-responsive">
        <rating [ngModel]="feedback.rate"
                [float]="true" [readonly]="true">
        </rating>
        <br/>
        {{feedback.context}}
      </div>
    </ng-template>
  </p-dataGrid>


</p-dialog>
<p-dialog [(visible)]="showingNotices" [responsive]="true" showEffect="fade" [modal]="true" width="450"
          (onAfterHide)="hideNotices()" [closable]="true">
  <div id="partnerNoticesBlockId">
    <div style="display: inline-block;">
      <h2>{{'notices' | translate}}</h2>
      <button pButton type="button" label="{{'edit' | translate}}" *ngIf="!_isEditingPartnerNoticeDetails"
              (click)="editNotices()"></button>
      <button pButton type="button" label="{{'savebtnlabel' | translate}}" *ngIf="_isEditingPartnerNoticeDetails" (click)="saveNotice()"></button>
      <button pButton type="button" label="{{'cancelbtnlabel' | translate}}" *ngIf="_isEditingPartnerNoticeDetails"
              (click)="cancelNotices()"></button>
    </div>
    <p *ngIf="!_isEditingPartnerNoticeDetails">{{partner.notices}}</p>
    <input *ngIf="_isEditingPartnerNoticeDetails" type="text" pInputText [(ngModel)]="_editedPartner.notices"
           style="height: 50px;width: 150px;"/>
  </div>
</p-dialog>
<p-dialog [(visible)]="showingPhotos" [responsive]="true" showEffect="fade" [modal]="true" width="450"
          (onAfterHide)="hidePhotos()" [closable]="true">
  <div id="partnerPhotosBlockId">
    <h2>{{'images' | translate}}({{partner.photoDtos?.length}})</h2>
    <div *ngFor="let image of partner.photoDtos" style="display: inline-block; margin-right: 10px;">
      <i class="fa fa-trash-o" aria-hidden="true" (click)="deletePartnerPhoto(image.id)"></i>
      <img src="{{safeImage(image.image_path)}}"
           style="width: 180px; height: 180px;"/>

    </div>
    <label class="custom-file-upload">
      <input name="file" type="file" ng2FileSelect [uploader]="partnerPhotoUploader"/>
      <i class="fa fa-plus"></i> Upload Photo
    </label>
  </div>
</p-dialog>
<p-dialog [(visible)]="showingFollowers" [responsive]="true" showEffect="fade" [modal]="true"
          (onAfterHide)="hideFollowers()" (onBeforeShow)="resize($event)" [closable]="true">

</p-dialog>
<!--<p-dialog [(visible)]="hasNewRequest" [responsive]="true" showEffect="fade" [modal]="true">
  <div>You have new request | count is: {{newEvents().length}}</div>
  <button pButton type="button" label="OK" (click)="closeNewRequests()"></button>


</p-dialog>-->

<p-dialog header="Event in during" [visible]="_thereIsNowRequest"
          [closable]="false" [closeOnEscape]="false" [responsive]="true" showEffect="fade"
          [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{'width':'100%','height':'100%'}">
  <p-header style="display:none;">
  </p-header>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="requestNow">
    <div class="ui-grid-row">
      <label>{{'description' | translate}}:</label>
      {{requestNow.description}}
    </div>
    <div class="ui-grid-row">
      <label>{{'startTime' | translate}}:</label>
      {{requestNow.startTime| date: 'MMM dd yy, HH:mm'}}
    </div>
    <div class="ui-grid-row">
      <label>{{'endTime' | translate}}:</label>{{requestNow.endTime | date: 'MMM dd yy, HH:mm'}}
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button pButton type="button" label="Complete reservation" (click)="completeReservation()"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="showingAddress" [responsive]="true" showEffect="fade" [modal]="true"
          (onAfterHide)="hideAddress()" [closable]="true">

  <div id="partnerAddressBlockId">
    <h2>{{'address' | translate}}</h2>
    <div id="addessMapBlockId">
      <button pButton type="button" label="{{'change_address' | translate}}" *ngIf="!needChangeAddress()"
              (click)="changeAddress()"></button>
      <button pButton type="button" *ngIf="needChangeAddress()" label="{{'savebtnlabel' | translate}}"
              (click)="saveAddress()"></button>
      <button pButton type="button" (click)="putMyLocation()" *ngIf="needChangeAddress()" icon="fa-street-view"
              iconPos="left"></button>

      <div class="form-group">
        <input placeholder="Գրիր հասցեդ․․․" autocorrect="off" [(ngModel)]="_editedPartner.address" autocapitalize="off"
               spellcheck="off" type="text" class="form-control" #search [formControl]="mapSearchControl()">
      </div>
      <sebm-google-map id="map" #map style="height:200px !important;" [latitude]="mapLatitude()"
                       [longitude]="mapLongitude()"
                       [scrollwheel]="false"
                       [zoom]="mapZoom()">
        <sebm-google-map-marker (dragEnd)="addressMarkerDragEnd($event)" [markerDraggable]="needChangeAddress()"
                                [latitude]="mapLatitude()" [longitude]="mapLongitude()"></sebm-google-map-marker>
      </sebm-google-map>
    </div>
  </div>
</p-dialog>







