
<button pButton type="button" label="Signin" (click)="showSigninDialog()"></button>
<button pButton type="button" label="Sign up" (click)="showSignupDialog()"></button>
<p-dialog [(visible)]="_isSigningUser" [responsive]="true" showEffect="fade" [modal]="true"
          [closable]="true">
  <login-component></login-component>
</p-dialog>
<p-dialog [(visible)]="_isSignupingUser" [responsive]="true" showEffect="fade" [modal]="true"
          [closable]="true">
  <connect-to-system-component></connect-to-system-component>
</p-dialog>
