/* You can add global styles to this file, and also import other style files */
.validation-error-block{
  background-color: pink;
  border: 3px red;
  width: auto;
}

.soso-icon{
  color:#277fb3;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


/* web app design */
@media screen and (min-width: 650px){
  div.ui-g-12{
    width:25%;
    padding: 2%;
  }

  .soso-logo{
    margin-top: 0.8%;
    margin-left: 10%;
    background-color: #277fb3;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    border: 1px solid white;
    border-radius: 10px;
    width: 165px;
    height: 72%;
  }

  .soso-languages-block{
    float: right;
    margin-top: 1.5%;
    margin-right: 10%;
  }

  .soso-logo-text{
    margin-left: 12%;
    width: 100%;
    font-family: "Fira Code";
  }

  .soso-header{
    display: inline-block;
    width: 100%;
    background-color: #3baae3;
    height: 75px ;
  }

  .soso-partner-account{
    margin-right: 24%;
    margin-left: 24%;
    margin-top: 3%;
  }

  .soso-upload-main-photo-btn{
    border-radius: 35% !important;
    background-color: aliceblue;
    height: 35px !important;
    width: 35px !important;
  }

  .soso-partner-photo{
    margin-left: 45%;
  }

  .soso-partner-details-info{

  }

  .soso-partner-property-button{
    width: 23% !important;
  }


   .soso-partner-features{
     margin-left: 45% !important;
   }




  .soso-empty-requests-block{
    margin-top: 5%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    font-size: xx-large;
    font-family: "Fira Code";
    background-color: aliceblue;
    border: 1px solid #3baae3;
    padding-left: 10%;
    padding-right: 10%;
    height: 35%;
    border-radius: 25%;
  }

  .soso-new-requests-block{
    margin-top: 5%;
    margin-left: 22%;
    margin-right: 22%;
  }

  .soso-decide-request-btn{
    margin-left: 7%;
  }

  .soso-decline-request{
    background-color: palevioletred !important;
  }

  .soso-accept-request{
    background-color: darkseagreen !important;
  }



  .soso-partner-header{

    margin-top: 1%;
    display: inline-block;
  }

  .soso-partner-properties {
    width: 50% !important;
    display: inline !important;
    float: left !important;
    margin-left: 5%;

  }

  .soso-partner-notification{
    width: 10% !important;
    display: inline !important;
    float: right !important;
    margin-left: 25%;

  }



  .scheduleBlock{
    margin: 5% 27.5%;
    display: block;
    width: 45%;
    height: 45%;
  }

  div.ui-g-12:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #277fb3;
    border-radius: 4%;
  }


  div.ui-md-3{
    width: 25%;

  }

  div.ui-datagrid-content.ui-widget-content{
    background-color: white;
    border:none;
    margin-left: 10%;
    margin-right: 10%;
  }

  .validation-error-block{
    margin-top: 1%;
    background-color: pink;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    border-color: red;

  }

  .soso-properties-web{
    width: 100%;
  }

  .soso-properties-mobile{
     display: none !important;
  }

  .soso-partner-user-properties{
    width: 120px;
  }
}


/* mobile design */
@media screen and (max-width: 650px){


  .scheduleBlock{
    margin: 5% 0%;
    display: block;
    width: 100%;
    height: 45%;
  }

  .soso-logo{
    margin-top: 0.8%;
    margin-left: 7%;
    background-color: #277fb3;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    border: 1px solid white;
    border-radius: 10px;
    width: 180px;
    height: 60%;
  }

  .validation-error-block{
    margin-top: 1%;
    background-color: pink;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    border-color: red;

  }

  .soso-languages-block{
    float: right;
    margin-top: 1.5%;
    margin-right: 10%;
  }

  .soso-logo-text{
    margin-left: 14.5%;
    width: 100%;
    font-family: "Fira Code";
  }

  .soso-header{
    display: inline-block;
    width: 100%;
    background-color: #3baae3;
    height: 75px ;
  }


  .soso-partner-header{
    margin-top: 1%;
    display: inline-block;
  }

  .soso-partner-properties {
    width: 85% !important;
    display: inline !important;
    float: left !important;
    margin-left: 0%;

  }

  .soso-partner-notification{
    width: 10% !important;
    display: inline !important;
    float: right !important;
    margin-left: 0%;

  }


  .soso-upload-main-photo-btn{
    border-radius: 35% !important;
    background-color: aliceblue;
    height: 35px !important;
    width: 35px !important;
  }

  .soso-partner-photo{
    margin-left: 45%;
  }

  .soso-partner-user-properties{
    width: 45% !important;
    float: right !important;
    display: inline !important;
  }

  .soso-properties-web{
    display: none !important;
  }

  .soso-properties-mobile{
   width: 100% !important;
    display: inline-block !important;
  }

  .soso-empty-requests-block{
    margin-top: 5%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    font-size: x-large;
    font-family: "Fira Code";
    background-color: aliceblue;
    border: 1px solid #3baae3;
    padding-left: 10%;
    padding-right: 10%;
    height: 35%;
    border-radius: 25%;
  }

  .soso-new-requests-block{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .soso-decline-request{
    background-color: palevioletred !important;
  }

  .soso-accept-request{
    background-color: darkseagreen !important;
  }


  div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-dialog-draggable{
    width: 100% !important;
    left: 0;
    right: 0;
  }



  div.ui-md-3:hover {
    box-shadow: 0  0 rgba(0, 0, 0, 0.2), 0 0 rgba(0, 0, 0, 0.19);
    color: #277fb3;
    border-radius: 4%;
  }

  div.ui-g-12{
    width:50%;
    padding: 4%;
  }

  div.ui-md-3{
    width: 50%;
  }

  div.ui-datagrid-content.ui-widget-content{
    background-color: white;
    border:none;
    margin-left: 5%;
    margin-right: 5%;
  }

  button.fc-today-button.ui-button.ui-state-default.ui-corner-left.ui-corner-right.ui-state-disabled{
    display: none;
  }
}
